body {
  background-color: lightblue;
  margin: 10px;
}
table,
td,
th {
  border: 1px solid;
}
table {
  background-color: bisque;
  border-collapse: collapse;
}
div {
  height: 100px;
  width: 100px;
  float: left;
  margin: 10px;
}
article {
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.5);
}
