body {
  background-color: white;
  margin: 0px;
  font-size: large;
}

.upper-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: sticky;
  background-color: white;
  top: 0px;
  left: 0px;
  padding: 10px;
  border: 1px black solid;
  /*width: 100%;*/
  margin: 0px;
}
header {
  margin-left: 0px;
}
header > a > img {
  height: 75px;
  margin: 2px;
}
nav {
  display: flex;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
nav > a > .this-site,
.this-site:hover {
  background-color: greenyellow;
}

nav > a > div {
  flex-direction: row;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: 1px rgb(250, 235, 215) solid;
  width: 120px;
}

nav > a > div:hover {
  background-color: rgb(260, 245, 225);
  border: 1px black solid;
}
nav > a {
  color: black;
  text-decoration: none;
}
#clock {
  position: relative;

  text-align: center;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: 1px rgb(250, 235, 215) solid;
  width: 95px;
  margin-left: auto;
}
main {
  margin-left: 50px;
  margin-right: 50px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery > div,
img,
video {
  height: 200px;
  margin: 20px;
  padding: 0px;
  background-color: honeydew;
}
.gallery > div {
  width: 200px;
}

footer {
  margin: 10px;
  text-align: center;
}
#formularz {
  width: fit-content;
  border-radius: 5px;
  background-color: rgb(102, 204, 255);
  padding: 20px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #3e9541;
}

#pojemnik {
  display: flex;
}

#tekstdiv {
  margin: 18px;
}
